<section class="news-body-box w-[100%] border-b-[1px] border-stone-500/50 pb-[60px]">
    <article>
        <figure class="h-[300px] rounded-[10px] mb-[40px] overflow-hidden">
            <img class="object-cover" src={{NewsMovie.img}}>
        </figure>

        <span class="text-[#ec7532]">{{NewsMovie.tags}}</span>
        <h5 class="mb-[20px] text-[36px] border-b-[1px] border-stone-500/50">{{NewsMovie.title}}</h5>

        <p class="mb-[30px] text-[#717171] text-[16px] h-[170px] overflow-hidden text-ellipsis">{{NewsMovie.description}}</p>

        <a>READ FULL POST</a>
    </article>
</section>