<section class="coming-soon-wrapper pt-[50px]">

    <article class="container">

        <div class="text-white border-b-[2px] border-gray-500 text-[18px] mb-[20px]">
            <p class=" header text-[18px] tracking-[2px]">COMING SOON</p>
        </div>

        <section class="flex flex-wrap justify-between py-[30px] max-lg:flex-col-reverse max-lg:gap-[32px]">
            <article class="w-[40%] max-lg:w-[100%]">
                <span class="text-[#ec7532] text-[14px]">FANTASY, SCI-FI, ACTIONS</span>

                <h3 class="text-[43px] text-white font-thin">Colliding planets</h3>


                <app-stars [width]="starWidth"></app-stars>

                <p class="text-[16px] text-white my-[20px]">Claritas est etiam processus dynamicus, qui sequitur
                    mutationem
                    consuetudium lectorum. Mirum est
                    notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas
                    humanitatis per seacula quarta decima et quinta decima.</p>

                <a href="#" class="tracking-[2px] text-[12px] text-[#E57532]">MORE INFO ></a>
            </article>

            <img class="w-[40%] img-boxshadow max-lg:w-[100%]" src="assets/images/movie-poster.jpg">
        </section>
    </article>


    <app-coming-soon-movies></app-coming-soon-movies>
    
</section>