<section class="weekly-movie py-[45px] flex gap-[40px] border-b-[1px] border-gray-300 items-start">
    <figure class="min-w-[170px] rounded-[8px] overflow-hidden">
        <img class=" rounded-[8px]" src="assets/images/poster.jpg">
    </figure>

    <article class="max-w-[900px]">
        <h3 class="text-[#fbbd61]">THRILLER, HORROR</h3>

        <h3 class="text-[24px] mb-[10px] text-[#101010]">Locked in</h3>
        <p class="text-[#717171] text-[16px] mb-[20px]">Claritas est etiam processus dynamicus, qui sequitur
            mutationem
            consuetudium
            lectorum. Mirum est
            notare
            quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
            seacula quarta decima et quinta decima.</p>

        <p class="text-[#ec7532] mb-[8px]">FULL SYNOPIS ></p>

        <p class="text-[#4a4a4a] text-[12px] mb-[20px] tracking-[2px]">VIEWING TIMES</p>

        <section class="flex gap-[8px]">
            <button class="py-[6px] px-[8px] bg-[#ec7532] text-white text-[14px] rounded-[4px] ">2:00
                pm</button>
            <button class="py-[6px] px-[8px] bg-[#ec7532] text-white text-[14px] rounded-[4px]">4.45 pm</button>
            <button class="py-[6px] px-[8px] bg-[#ec7532] text-white text-[14px] rounded-[4px]">8:30 pm</button>
        </section>
    </article>
</section>