<article class="container pt-[80px] relative z-40 mx-auto flex justify-between items-center">

    <figure class="w-[200px]">
        <img src="assets/svg/logo.svg">
    </figure>

    <ul class='text-white  text-[16px] w-[max-content] flex justify-end gap-[2em] tracking-[3px] border-b-[1px] border-[#dcdcdc6c] max-lg:gap-[1em] max-lg:text-[14px]'>
        <li><a href="#">HOME</a></li>
        <li><a href="#">WHAT'S ON</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">SHIRTCODES</a></li>
        <li><a href="#">CONTACT US</a></li>
    </ul>
</article>