<article class="container pt-[80px] relative mb-[20px] z-40 mx-auto flex justify-between items-center max-md:hidden">

    <a href="#" routerLink="/">
        <figure class="w-[200px]">
            <img src="assets/svg/logo.svg">
        </figure>
    </a>

    <ul
        class='text-white desktop text-[16px] w-[max-content] flex justify-end gap-[2em] tracking-[3px] border-b-[1px] border-[#dcdcdc6c] max-lg:gap-[1.5em] max-lg:text-[14px]'>
        <li><a routerLink="/top">HOME</a></li>
        <li><a routerLink="/what-on">WHAT'S ON</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">SHIRTCODES</a></li>
        <li><a href="#">CONTACT US</a></li>
    </ul>

</article>



<section class="mobile-nav absolute top-[100px] left-0 right-0 z-20 hidden flex-col container  max-md:flex">

    <article class="flex items-center justify-between">
        <a href="#" routerLink="/">
            <figure class="w-[180px] ">
                <img src=" assets/svg/logo.svg">
            </figure>
        </a>

        <figure class="w-[32px]">
            <a href="javascript:void(0)" (click)="showDropDown()"><img src="assets/svg/menu.svg"></a>
        </figure>
    </article>

    <ul *ngIf="dropdown" class='text-center  text-white text-[13px] py-[10px] tracking-[3px] overflow-hidden bg-black'>
        <li class="w-[100%] "><a href="#" routerLink="/" class=" text-[#e2712f] w-[100%]">HOME</a></li>
        <li class="w-[100%] "><a routerLink="/what-on" routerLinkActive="active" ariaCurrentWhenActive="page">WHAT'S
                ON</a></li>
        <li class="w-[100%] "><a href="#" class="">NEWS</a></li>
        <li class="w-[100%] "><a href="#" class="">SHORTCODES</a></li>
        <li class="w-[100%] "><a href="#" class="">CONTACT US</a></li>
    </ul>
</section>