<section>
    <div class="border-b border-stone-500/50 mb-[40px]">
        <h5 class="pb-[20px] tracking-[2px] text-[#ec7532] text-[18px]">SEND A MESSAGE</h5>
    </div>

    <form class="flex flex-col gap-[20px]">

        <div class="flex flex-col gap-[5px]">
            <label class="text-[12px] tracking-[1.5px]">NAME *</label>
            <input class="h-[40px] p-[5px_15px] border border-stone-400/50" placeholder="">
        </div>
        
        <div class="flex flex-col gap-[5px]">
            <label class="text-[12px] tracking-[1.5px]">EMAIL *</label>
            <input class="h-[40px] p-[5px_15px] border border-stone-400/50" placeholder="">
        </div>

        <div class="flex flex-col gap-[5px]">
            <label class="text-[12px] tracking-[1.5px]">WHERE DID YOU HEAR ABOUT US?</label>
            <input class="h-[40px] p-[5px_15px] border border-stone-400/50" placeholder="">
        </div>

        <div class="flex flex-col gap-[5px]">
            <label class="text-[12px] tracking-[1.5px]">MESSAGE *</label>
            <textarea class="h-[160px] p-[5px_15px] border border-stone-400/50" placeholder=""></textarea>
        </div>

        <button>SEND MESSAGE</button>
     
    </form>
</section>