<section class="weekly-box my-[50px]">
    <article class="container">
        <ul class="text-[18px] w-{100%} border-b-[2px] border-gray-600/50 flex gap-[10px] items-center flex-wrap">
            <div class="flex items-center flex-wrap max-w-[85%]">
                <li [ngClass]="today == 'MON' ? 'today' : '' ">{{ today == 'MON' ? 'TODAY' : 'MON'}}</li>
                <li [ngClass]="today == 'TUE' ? 'today' : '' ">{{ today == 'TUE' ? 'TODAY' : 'TUE'}}</li>
                <li [ngClass]="today == 'WED' ? 'today' : '' ">{{ today == 'WED' ? 'TODAY' : 'WED'}}</li>
                <li [ngClass]="today == 'THU' ? 'today' : '' ">{{ today == 'THU' ? 'TODAY' : 'THU'}}</li>
                <li [ngClass]="today == 'FRI' ? 'today' : '' ">{{ today == 'FRI' ? 'TODAY' : 'FRI'}}</li>
                <li [ngClass]="today == 'SAT' ? 'today' : '' ">{{ today == 'SAT' ? 'TODAY' : 'SAT'}}</li>
                <li [ngClass]="today == 'SUN' ? 'today' : '' ">{{ today == 'SUN' ? 'TODAY' : 'SUN'}}</li>
            </div>
            <p class="text-[14px] ml-auto">{{currentDate}}</p>
        </ul>


        <section *ngFor="let movie of movies">
            <app-weekly-movie-list [movie]="movie"></app-weekly-movie-list>
        </section>

    </article>
</section>