.weekly-box {
    ul {
        .today {
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 100%;
                height: 4px;
                transition: 0.2s ease;
                background-color: #ec7532;
            }
        }
        li {
            position: relative;
            padding: 10px 25px 15px 25px;
            text-align: center;
            transition: 0.2s;
            cursor: pointer;

            // &:first-of-type {
            //     color: #ea884f;
            // }

            &:hover {
                color: #ea884f;
            }

            // &:first-of-type:after {
            //     content: "";
            //     display: block;
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     margin: auto;
            //     width: 100%;
            //     height: 4px;
            //     transition: 0.2s ease;
            //     background-color: #ec7532;
            // }

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 0%;
                height: 4px;
                transition: 0.2s ease;
                background-color: #ec7532;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}
