<section class="flex">

    
    <section class="what-on-filter-box p-[20px] container bg-white rounded-[50px] mx-[332%] max-md:mx-[2%]">
    <section class="relative mb-[2em] px-[20px]">
        <input class="p-[10px_20px] rounded-[20px] w-[100%] border-[1px] border-stone-500/50"
            placeholder="Type to search">

        <figure class="w-[24px] h-[24px] absolute top-[50%] right-[30px] translate-y-[-50%]">
            <img src="assets/svg/search.svg">
        </figure>
    </section>

    <app-weeely-movie></app-weeely-movie>
</section>
</section>