.what-on-filter-box {
    transform: translatey(-70px);

    input {
        transition: .2s;
        outline: 1px solid transparent;

        &:focus {
            border: 1px solid #ec7532;
        }
    }
}
