<section class="weekly-box my-[50px]">
    <article class="container">
        <ul class="text-[18px] w-{100%} border-b-[2px] border-gray-600 flex gap-[10px] items-center flex-wrap">
            <div class="flex items-center flex-wrap max-w-[85%]">
                <li>TODAY</li>
                <li>TUE</li>
                <li>WED</li>
                <li>THU</li>
                <li>FRI</li>
                <li>SAT</li>
                <li>SUN</li>
            </div>
            <p class="text-[14px] ml-auto">FRI, 5 MAY</p>
        </ul>



        <app-weekly-movie-list></app-weekly-movie-list>
        <app-weekly-movie-list></app-weekly-movie-list>
        <app-weekly-movie-list></app-weekly-movie-list>
        <app-weekly-movie-list></app-weekly-movie-list>
    </article>
</section>