.hero-box {
    padding: 50px 0 0 0;
<<<<<<< HEAD
    background: url("../../../../assets/images/movie-poster.jpg");
=======
    background: url("../../../assets/images/movie-poster.jpg");
>>>>>>> f981e1fa161ed76a4c20fea0fad2d236fd5cbc64
    background-size: cover;
    background-position: center;
    background: #946e28;
    background-blend-mode: color-burn;
}

.gradient-button {
    background: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
}

.triangle-border {
    width: 15px;
    height: 20px;
    border-radius: 3px;
    clip-path: polygon(64% 50%, 0 0, 0 100%);
    background-color: white;
}
