<section class="relative h-[900px]">

    <app-nav></app-nav>

    <section class="hero-box absolute top-0 left-0 right-0 z-10 w-[100%] h-[100%] bg-stone-900 flex items-center 1">
        <article class="text-white container">
            <img class="absolute object-cover object-center top-0 left-0 right-0 bottom-0 brightness-[25%] z-0"
                src="../../assets/images/movie-poster.jpg">

            <div class="relative z-10">
                <p class="text-[14px] text-[#fbbd61] tracking-[2px]">ACTION, ADVENTURE, FANTASY</p>

                <h1 class="text-[52px] tracking-[3px] mb-[10px]">Movie Title</h1>

                <p class="max-w-[760px] mb-[20px]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae
                    fugiat
                    consectetur, aut
                    quo
                    recusandae
                    assumenda labore quas tempore possimus aspernatur, ut et! Pariatur ipsum, dolor sit amet consectetur
                    adipisicing elit. Beatae fugiat consectetur, aut quo recusandae
                    assumenda labore quas tempore possimus aspernatur, ut et! Pariatu</p>



                <article class=" flex items-center gap-[16px]">
                    <div
                        class="border bottom-[5px] rounded-full border-white w-[50px] h-[50px] grid place-items-center">
                        <p class="text-bolder">12A</p>
                    </div>
                    <a
                        class="gradient-button px-[30px] h-[42px] flex justify-between items-center gap-[2px] rounded-[25px]">
                        <div class="triangle-border"></div><span class="text-[13px] tracking-[2px]">PLAY
                            TRAILER</span>
                    </a>
                </article>
            </div>


        </article>
    </section>

</section>