<article class="pt-[12px] w-full lg:w-[220px]">
    <div class="relative mb-[40px] w-full">
        <input class="border-[1px] w-full border-gray-500/40 p-[12px_15px] h-[44px]" placeholder="Search...">

        <figure class="w-[44px] h-[44px] p-[12px] absolute top-[50%] right-[0] translate-y-[-50%] cursor-pointer">
            <img src="assets/svg/search.svg">
        </figure>
    </div>

    <aside>
        <h6 class="text-[18px] border-b-[1px] text-[#EC7532] mb-[25px] tracking-[2px] pb-[10px]">CATEGORIES</h6>

        <ul class="text-[16px] text-[#717171] space-y-[8px] mb-[40px]">
            <li><a href="#">Awards</a></li>
            <li><a href="#">Coming soon</a></li>
            <li><a href="#">Coming New releases</a></li>
            <li><a href="#">Whats hot</a></li>
        </ul>
    </aside>

    <aside>
        <h6 class="text-[18px] border-b-[1px] text-[#EC7532] mb-[25px] tracking-[2px] pb-[10px]">ARCHIVES</h6>

        <ul class="text-[16px] text-[#717171] space-y-[8px] mb-[40px]">
            <li><a href="#">November 2017</a></li>
        </ul>
    </aside>

</article>